<mat-card class="contact-list">
    <table mat-table [dataSource]="contacts" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="civilite">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Civilite</th>
            <td mat-cell *matCellDef="let element">{{element.civilite}}</td>
        </ng-container>

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
            <td mat-cell *matCellDef="let element">{{element.prenom}} {{element.nom}}</td>
        </ng-container>

        <ng-container matColumnDef="voir">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Voir</th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="see" routerLink="/contacts/{{element.id}}">visibility</mat-icon>
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>