<button routerLink="/contacts" class="back-btn" mat-raised-button>
  <mat-icon>arrow_back_ios</mat-icon>Retour à la liste des contacts
</button>

<mat-card class="contact" *ngIf="contact">

  <br />
  <h1>{{contact.civilite}} {{contact.prenom}} {{contact.nom}}</h1>

  <table>
    <tr>
      <td>
        <mat-icon>mail</mat-icon>
      </td>
      <td>{{contact.mail}}</td>
    </tr>
    <tr>
      <td>
        <mat-icon>home</mat-icon>
      </td>
      <td>
        {{contact.adresseLigne1}}<br />
        <ng-container *ngIf="contact.adresseLigne2">
          {{contact.adresseLigne2}}<br />
        </ng-container>
        {{contact.codePostal}} {{contact.ville}}
      </td>
    </tr>
    <tr *ngFor="let phone of contact.telephones">
      <td>
        <mat-icon>{{ phone.type === "Portable" ? "smartphone" : "phone"}}</mat-icon>
      </td>
      <td>
        {{phone.numero}}
      </td>
    </tr>
  </table>


</mat-card>